{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coming Soon |  {% block title %}Home{% endblock%}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/coming-soon.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="overlay"></div>

    <div class="masthead" style="width: 908px;">
      <div class="masthead-bg" style="width: 853px;"></div>
      <div class="container h-100">
        <div class="row h-100" style="width: 879px;">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3" style="
    font-size: 50px;
    width: 768px !important;
    margin-bottom: 40px !important;
">Технологии внедрения програмного обеспечения</h1>
              <h3 class="mb-3">До начала курса осталось всего <strong>{{ date }}</strong> дней!</h3>
                <p class="mb-5" style="
    padding: 0 !important;
    margin: 0 !important;
">В рамках данного курса вы получите следующие компетенции:
                </p><ul style="
    margin-bottom: 56px;
">
                <li>Способность создания (модификации) и сопровождения информационных систем (ИС), автоматизирующих задачи организационного управления и бизнес- процессы в организациях различных форм собственности с целью повышения эффективности деятельности организаций - пользователей ИС
                </li>
 <li>Осуществляет настройку проекта для оптимального решения задач заказчика
 </li>
 <li>Способность разрабатывать программное обеспечение (ПО), включая проектирование, отладку, проверку работоспособности и модификацию ПО
 </li>
 <li>Разрабатывает процедуры сборки модулей и компонент программного обеспечения, подключение программного продукта к компонентам внешней среды
 </li>
 <li>Разрабатывает процедуры развертывания и обновления программного обеспечения
 </li>
            </ul>
              </p>
              <div class="input-group input-group-newsletter">
                <input type="email" class="form-control" placeholder="Введите email..." aria-label="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Записаться на курс</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/vide/jquery.vide.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/coming-soon.min.js' %}"></script>

  </body>

</html>
